.wrapper {
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns: 100px repeat(5, 1fr) 100px;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
  grid-template-areas:
    ". canvas canvas instructions instructions instructions ."
    ". items items items items items .";
  margin: 30px 0;
}

.navbar {
  /* grid-area: nav; */
}

.card-exp {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  /* margin: 1rem; */
  position: relative;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.instructions {
  padding: 0.5rem;
  grid-area: instructions;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  grid-gap: 1rem;
}

.instruction {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}

.instruction > i {
  text-align: center;
  width: 100%;
  height: 70%;
  font-size: 10rem;
}

.instruction > .info {
  text-align: center;
  width: 100%;
  height: 30%;
}

.timer {
  display: none;
  grid-area: instructions;
}

/* .guessing {
  grid-area: guessing;
  background-color: rgba(220, 220, 220, 0.6);
} */

.canvas {
  grid-area: canvas;
  width: 100%;
  height: 100%;
}

#paper {
  background-color: rgba(220, 220, 220, 0.6);
  border: 3px solid black;
}

.items {
  grid-area: items;
  padding: 0.5rem;
}

.item {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 1.5rem;
}

.instruction-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 1rem;
  width: 100%;
  padding: 8px;
}

.delete {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .wrapper {
    grid-template-rows: 5fr auto auto;
    grid-template-areas:
      ". canvas canvas canvas canvas canvas ."
      ". instructions instructions instructions instructions instructions ."
      ". items items items items items .";
  }
}
